a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}
body {
	margin: 0; padding: 0;
    height: 100%; width: 100%;
    background-color: #202020;
    background-image: url('../img/bg.png');
}
h1,h2 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    margin: 0; padding: 0;
    text-shadow: 1px 1px 5px #000;
    text-align: center;
    text-transform: uppercase;
}
h1 {
    font-size: 4em;
    text-transform: uppercase;
    color: #fff;
}
h2 {
    font-size: 2em;
    color: inherit;
}
hr {
    margin: 30px 40% 30px 40%;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}
html {
	height: 100%;
}
p {
    font-family: 'Cantarell', sans-serif;
    font-size: 0;
    margin: 0;
    text-align: center;
}

/* General Classes */
.container {
    width: 100%; height: 100%;
}

/* Welcome */
.bgVid {
    position: fixed;
    right: 0; bottom: 0;
    min-width: 100%;  min-height: 100%;
    z-index: -1000; 
    overflow: hidden;
    opacity: 0.2;
}

/* Mobile CSS */
@media screen and (max-width: 1080px) { 
    h1 {
        font-size: 34px;
    }
    .navBar-text {
        font-size: 11px;
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 1px 1px 3px #000;
        line-height: 100px;
        transition: 0.5s;
    }
    .kebabLogo {
        width: 270px;
        height: 270px;
    }
    .cunnyLogo {
        width: 250px;
        height: 250px;
    }
    .content-text {
        font-size: 16px;
        padding: 0.5em;
    }
    .quote {
        font-size: 15px;
    }
    .star {
        font-size: 15px;
    }
    .reviews-cont {
        width: 300px;
        height: 100px;
    }
}