a {
    text-decoration: none;
    color: unset;
}
body {
	margin: 0; padding: 0;
    height: 100%; width: 100%;
    background-color: inherit; /* inherit bg colour from colour class */
    background-image: url('../img/bg.gif');
    background-color: #2b2730;
    background-size: cover;
    background-position: center;
    color: #9585A2; 
}
h1,h2 {
    font-family: 'Cantarell', sans-serif;
    margin: 0; padding: 0;
    text-align: center;
    text-transform: uppercase;
}
h1 {
    font-size: 6em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bolder;
    text-shadow: 5px 5px 5px #000;
    margin: 0;
    animation: silly2 1.8s infinite;
}
h2 {
    font-size: 2.7em;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
    margin: 5px 0;
    animation: silly 1.6s infinite;
}
hr {
    margin: 0 30% 10px 30%;
    border-width: 1px;
    border-style: solid;
    border-color: inherit; /* inherit bg colour from colour class */
}
html {
	height: 100%;
}
p {
    font-family: 'Cantarell', sans-serif;
    font-size: 2em;
    color: #fff; /* inherit bg colour from colour class */
    margin: 0;
    text-align: center;
    padding-top: 40px;
    text-shadow: 5px 5px 10px #000;
    letter-spacing: 5px;
    animation: bounce 1.5s infinite;
}
@keyframes bounce {
    0% {letter-spacing: 10px; color: #fff;}
    50% {letter-spacing: 5px; color: #ff0000;}
    100% {letter-spacing: 10px; color: #fff;}
}
@keyframes silly {
    0% {transform: scale(1)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1)}
}
@keyframes silly2 {
    0% {transform: scale(1)}
    50% {transform: scale(1.2)}
    100% {transform: scale(1)}
}


/* General Classes */
.container {
    width: 100%; height: 100%;
    overflow: hidden;
}
.center {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.logo {
    width: 280px;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
    animation: silly2 2s infinite;
}
#mute {
    width: 80px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    animation: silly 0.9s infinite;
}
.hof {
    width: 100%;
    padding: 20px 0;
    background-color: #000000dc;
    position: absolute;
    top: 100%;
}
#hof {
    width: 97%;
    display: block;
    margin: 0 auto;
}
#disc {
    font-size: 1.1em;
}
.gm {
    width: 180px;
    position: absolute;
    display: block;
    bottom: 2%; left: 2%;
}

/* Animations */
@keyframes one { /* curtains */
    0% { width: 50%; }
    100% { width: 0; }
}
@keyframes two { /* avi expansion */
    0% { border: none; height: 0; width: 0; transform: rotate(100deg);}
    90% { border-width: 3px 3px 3px 3px; height: 330px; width: 330px; transform: rotate(0deg); } /* default value 170px height / 330px width */
    100% { border-width: 3px 3px 0px 3px; height: 330px; width: 330px; transform: rotate(0deg); }
}
@keyframes three { /* (not)avi expansion */
    0% { border-width: 0; height: 0; }
    100% { border-width: 0 3px 3px 3px; height: 175px; }
}
@keyframes four { /* text fade in */
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* sub-1080 CSS */
@media screen and (max-width: 1700px) { 
    h1 {
        font-size: 4.5em;
        text-shadow: 5px 5px 5px #000;
        margin: 0 0 0 0;
    }
    h2 {
        font-size: 2em;
        margin: 5px 0;
    }
    p {
        font-size: 1.4em;
        padding-top: 30px;
    }
}

/* Mobile CSS */
@media screen and (max-width: 1080px) { 
    h1 {
        font-size: 2.5em;
        text-shadow: 5px 5px 5px #000;
        margin: 0 0 0 0;
    }
    h2 {
        font-size: 1.2em;
        margin: 5px 0;
    }
    p {
        font-size: 0.7em;
        padding-top: 30px;
    }
}